@media (min-width: 1024px) {
    
}
@media (max-width: 1023px) and (min-width: 740px) {
    
}
@media (max-width: 740px) {
    .header {
        
        overflow: hidden;
    }
    .nav {
        display: block;
    }

    .nav .subnav{
        width: auto;
        position: initial;
    }
    .subnav a{
        color: #fff;
        background-color: #333;
        padding: 6px 36px;
    }
    .nav > li {
        display: block;
    }
    .nav > li > a {
        padding: 1px 24px;
    }
    .nav > li:first-child {
        display: inline-block;
    }
    .header .search{
        display: none;
    }
    .header .bars{
        display: inline-block;
    }

    .member{
        width: 100%;
    }

    .ticket-list li {
        padding: 12px 16px;
    }
    
    .address-list .tour-item{
        width: 100%;
        margin-bottom: 16px;
    }
    
    .contact-button,
    .address-list .infomation-button{
        padding: 12px 16px;
        width: 100%;
    }

    .contact-body .contact-item{
        width: 100%;
        margin-top: 16px;
    }
    .contact-body .contact-form{
        margin-top: 16px;
    }

    
}
